.main-page {
	max-width: 1440px;
	display: block;
	min-height: 100%;
	background-color: #f5f6f7;
	flex-grow: 1;
}

.user-block {
	width: 456px;
	background-color: #fff;
	height: 108px;
	display: none;
	flex-direction: row;
	gap: 36px;
	align-items: center;
	border-radius: 24px;
	padding: 24px;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);

	@media (max-width: 1240px) {
		display: flex;
	}

	@media (min-width: 360px) and (max-width: 768px) {
		width: 320px;
	}

	&__text {
		color: #0f1d40;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 50px;
	}
}

// .main-page__column {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 32px;

// 	@media (max-width: 1240px) {
// 		width: 456px;
// 	}
// }

.main-page__section {
	display: block;
	margin-left: 260px;
}

.main-page__block {
	display: flex;
	padding-top: 150px;
	margin: 0 64px 0 36px;
	gap: 36px;

	@media (max-width: 1240px) {
		display: grid;
		margin: 0 36px;
		grid-template-columns: 260px 1fr;
		grid-template-rows: auto auto;
		grid-gap: 36px 32px;
		width: 752px;
	}

	@media (min-width: 360px) and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		width: 320px;
		margin: 0 auto;
	}
}

@media (max-width: 1240px) {
	.main-page__section {
		margin-left: 210px;
	}
}
